@font-face {
  font-family: "neodgm";
  font-display: swap;
  src: url(./assets/fonts/neodgm.ttf);
}

@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  font-display: swap;
  src: url(./assets/fonts/NeoDunggeunmoPro-Regular.ttf);
}

.App {
  font-family: "neodgm";
  color: #695252;
}
